.choice-box {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
    background-color: brown;
    border: 3px solid #ffe4b5
}

.choice-box:hover {
    cursor: pointer;
    background-color: #d2691e;
    transition: 200ms;
}

.choice-letter {
    padding: 10px 20px;
    background-color: #d2691e;
}

.choice-text {
    padding: 10px;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#info {
    display: flex;
    justify-content: space-between;
}

.info-text {
    text-align: center;
}