.choice-box {
    display: flex;
    margin-bottom: 5px;
    width: 100px;
    font-size: 20px;
    background-color: #545351;
    align-items: center;
}



/* .choice {
    display: flex;
    margin-bottom: 5px;
    width: 100px;
    font-size: 20px;
    background-color: #7e6843;
} */